#blurb-section {
    background-color: white;
    text-align: center;
    margin: 5% 20%;
    text-align: justify;
    color: #1E2F97;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    h1 {
      text-align: center;  
      padding-bottom: 2.5%;;
    }
}

.buttonContainer {
  display: block;
  text-align: center;
  margin-top: 3%;

  button {
    padding: 13px 26px;
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: #fff;
    background-color: #1E2F97;
    border: none;

    &:hover {
      background-color: lighten(#1E2F97, 10%);
      cursor: pointer;
    }

  }
}

.blurbParagraph {
  color: #777;
  padding-top: 2.5%;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}

.parallax-container {
  height: 80vh;
  position: relative;
}

.parallax-element {
  height: 100%;
}

.parallax-content {
  position: absolute;
  left: 0;
  margin-top: 15%;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  
  span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
}