.main-hero-container{
    top: 0px;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    .contain-right,
    .contain-left{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(253, 253, 253);
        &:hover ~ .contain-right {
                clip-path: inset(0% 0% 0% 85%);
            }
    }

.contain-right{
    overflow:hidden;
    clip-path: inset(0 0% 0% 50%);
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    &:hover {
        clip-path: inset(0 0% 0% 20%);
  }

}
.image-player{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.resp-iframe-2{
    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%) scale(1.2);
    position: absolute;
    top: 50%;
    width: 177.7777777vh;
    pointer-events: none;
    background:rgb(14, 14, 14);

}
.center-text{
    position: fixed;
    top: 50%;
    z-index: 1;
    color: #eee;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    mix-blend-mode: difference;
    font-weight: 600;
    opacity: 80;
    transition: opacity 0.25s ease-in-out;
    font-family: "Poppins", sans-serif;
    // font-style:unset;


}
} 

