
.studio-parallax-container {
    height: 66vh;
    position: relative;
  }
  
  .studio-parallax-element {
    height: 100%;
    text-align: center;
  }

.studio-parallax-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: #000;
    margin-top: 25%;
  }

  .border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
        margin-top: 15%;
        
    }

  .splitScreen{
    display: flex;
}

  .left-1 {
    background: red;
    flex: 1;
  }

  .right-2 {
    background-color: blue;
    flex: 1;
    // width: 100%;
  }

  // .studioTitle{
  //   width: 100%;
  //   display: block;
  // }