
.studio-parallax-container {
    height: 66vh;
    position: relative;
  }
  
  .studio-parallax-element {
    height: 100%;
    text-align: center;
  }

.studio-parallax-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: #000;
    margin-top: 15%;
  }

  .border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
        margin-top: 15%;
        
    }

  .splitScreen{
    display: flex;
}

  .left-1 {
    background: rgb(42, 41, 41);
    flex: 1;
  }

  .right-2 {
    flex: 1;
    // width: 100%;
  }


  .leftSideContainer {
    display: inline-block;
    text-align: center;

    img {
      width: 80%;
      padding: 4% 0;
    }
  }

  .studioTitle {
    padding: 4% 5%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3em;
  }

  p {
    color: black;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }