.about-parallax-container {
    height: 75vh;
    position: relative;
  }
  
  .about-parallax-element {
    height: 100%;
    text-align: center;
  }

.about-parallax-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: #000;
    margin-top: 15%;
  }

.about-section {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    margin-top: 15%;
    
}

.about-header {
    background-color: white;
    text-align: center;
    margin: 5% 20%;
    // text-align: justify;
    color: #1E2F97;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    h1 {
      text-align: center;  
      padding-bottom: 2.5%;;
    }
}

.aboutParagraphs {
    margin: 5% 15%;
}