.mainFooterSection {
    width: 100%;
    background-color: black;
    text-align: center;
    
    .mainFooterText {
        color: white;
        padding-top: 8%;
        padding-bottom: 8%;
    }
}